{% extends "polls/menu.html" %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/css/account.css' %}">
{% endblock %}

{% block menu %}

    <form action="account" method="post">

        {% csrf_token %}
        <div class="main_form">
          <div class="inputForm">
            ユーザーID　　：
              {{ form.userID|add_class:"input" }}
          </div>
          <div class="inputForm">
            ユーザーネーム：
            {{ form.name|add_class:"input" }}
          </div>
          <div class="inputForm">
            パスワード　　：
            {{ form.pw|add_class:"input" }}
          </div>
          <div class="inputForm">
            パスワード確認：
            <input class="input" type="password" name="repassword">
          </div>
        </div>


        <div style="display: flex; flex-flow:row nowrap; height: 200px; margin-top: 30px;">
          <div class="buttonForm">
              <a href="login"><input type="button" class="buttonStyle" style="position: absolute; right: 0px;" value="ログインはこちら"></a>
          </div>
          <div class="errorForm" style="text-align:center;">{{errmsg}}</div>
          <div class="buttonForm">
            <input class="buttonStyle" style="position: absolute; left: 0px;" type="submit" value="登録">
          </div>
        </div>
    </form>
{% endblock %}