{% extends "polls/menu.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href= "{% static 'polls/css/cart.css' %}">
{% endblock %}

{% block menu %}
<form action="cart" method="post">
    {% csrf_token %}
    <div class="mainForm">
        {% for item in list %}
          <div class="itemForm">
              <div class="checkForm">
                  <input name="checkbox" class="checkBox" type="checkbox" value="{{ item.productid.productID}}" onchange='calcMoney();checkChecked()'>
              </div>
            <div class="element">
              <img src="{% static 'polls/images/download1.jpg' %}" class="image">
            </div>
            <div class="plusminus " >
              <div class=" textopt"style="height:100%; width:100%; min-width:400px; text-align: center; vertical-align:middle;">{{ item.name }}</div>
            </div>
            <div class="element">
              <div class="verticalForm">

                  <input name="{{ item.productid.productID}}" id="{{ item.productid.productID}}" type="hidden" value="{{ item.quantity }}">
                  <div class="priceQuantity">
                      <div class="plusminus">
                          <div id="minus"  class="counter" onclick="quantityMinus('{{ item.productid.productID}}')">-</div>
                            <div name="name_{{ item.productid.productID}}" class="quantSize">{{ item.quantity }}</div>
                          <div id="plus" class="counter" onclick="quantityPlus('{{ item.productid.productID}}')">+</div>
                      </div>
                  </div>

                  <input name="money" type="hidden" value="{{ item.price }}">
                <div class="plusminus">{{ item.price }}円</div>
              </div>
            </div>
          </div>
        {% endfor %}


    </div>
    <div style="margin-top: 15px;" name="moneyForm">
      <div class="buy_form_move">
        <input name="total_money" class="move_form" type="text" placeholder="合計" id="sumMoney" value="0" style="border: 1px solid black;">
        <input id="pay-btn" name="pay_btn" class="move_form" type="submit" value="購入に進む"style="width:150px; min-width:150px;" disabled>
        <input id="delete-btn" name="delete_btn" class="move_form" type="submit" value="削除"style="width:150px; min-width:150px;" disabled>
      </div>
    </div>

  </form>


    <script>
    {#金額の計算#}


        function calcMoney(){
            var checkBox = document.getElementsByName("checkbox")
            var sumMoney = document.getElementById("sumMoney")
            var money = document.getElementsByName("money")
            var quantity


            var total = 0

            for(let i = 0; i < checkBox.length; i++){
                quantity = document.getElementById(checkBox[i].value).value
                 total = (parseInt(money[i].value , 10) * quantity) + total
                if(!checkBox[i].checked){
                    total = total - parseInt(money[i].value , 10) * quantity
                }
            }
            sumMoney.value = String(total)
        }

        function checkChecked(){
            var checkBox = document.getElementsByName("checkbox")
            var submitBtn = document.getElementById("pay-btn")
            var deleteBtn = document.getElementById("delete-btn")

            for(let i = 0; i < checkBox.length; i++) {
                if(checkBox[i].checked){
                    submitBtn.disabled = false
                    deleteBtn.disabled = false
                    break
                }else{
                    submitBtn.disabled = true
                    deleteBtn.disabled = true
                }
            }
        }

        
        function quantityMinus( product_id) {
            var quantity_div = document.getElementsByName("name_" + product_id)
            var quantity_input = document.getElementById(product_id)
            var quantity = quantity_input.value

            quantity = String(parseInt(quantity, 10) - 1)
            quantity = Math.max(1 , quantity)

            quantity_input.value = quantity
            quantity_div[0].innerHTML = quantity

            calcMoney(quantity)
        }

        function quantityPlus(product_id) {
            var quantity_div = document.getElementsByName("name_" + product_id)
            var quantity_input = document.getElementById(product_id)
            var quantity = quantity_input.value

            quantity = String(parseInt(quantity, 10) + 1)
            quantity = Math.max(1 , quantity)

            quantity_input.value = quantity
            quantity_div[0].innerHTML = quantity

            calcMoney(quantity)
        }
    </script>
{% endblock %}

