{% extends "polls/menu.html" %}
{% load static %}

{% block style %}
   <link rel="stylesheet" type="text/css" href= "{% static 'polls/css/charge.css' %}">
{% endblock %}

{% block menu %}

    <div class="chargeMoney_form">
        <input type="button" class="chargeMoney_options" onclick="btn5000()" value="5000">
        <input type="button" class="chargeMoney_options" onclick="btn10000()"value="10000">
    </div>
    <div class="chargeMoney_form">
      <input type="button" class="chargeMoney_options" onclick="btn1000()" value="1000">
      <input type="button" class="chargeMoney_options" onclick="btn3000()" value="3000">
  </div>

  <div class="dummy_form"></div>

  <form class="inputMoney_form" name="moneyForm" action="file:///D:/Users/5181025/FrontEND/htmlひな形/9p.html/" method="post">
    <input class="inputMoney_spaces" type="number" value="0"readonly name="holder" span id="nums">
    <input class="inputMoney_button" type="button" value="金額クリア"></input>
    <input class="inputMoney_button" type="submit" value="チャージ" ></input>
  </form>

  <script>
    function btn1000(){
      var num = document.moneyForm.holder.value;
      document.moneyForm.holder.value = Number(num) + 1000;
    }
    function btn3000(){
      var num = document.moneyForm.holder.value;
      document.moneyForm.holder.value = Number(num) + 3000;
    }
    function btn5000(){
      var num = document.moneyForm.holder.value;
      document.moneyForm.holder.value = Number(num) + 5000;
    }
    function btn10000(){
      var num = document.moneyForm.holder.value;
      document.moneyForm.holder.value = Number(num) + 10000;
    }
  </script>
{% endblock %}