{% extends "polls/menu.html" %}
{% load static %}

{% block style %}
   <link rel="stylesheet" type="text/css" href="{% static 'polls/css/chargeHistory.css' %}">
   <head>
    <title>チャージ履歴</title>
  </head>
{% endblock %}

{% block menu %}
    <div class="mainForm">
    {% for c in charge %}
      <div class="itemForm">
        <div class="element_date">
          <div style="width: 100%; height: 100%; ">{{c.timestamp}}</div>
        </div>
        <div class="element_money">
          <div style="width: 100%; height: 100%;">{{c.addmoney}}</div>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}