{% extends "polls/menu.html" %}
{% load static %}
{% load widget_tweaks %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/login.css' %}">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/template.css' %}">-->
{% endblock %}

{% block menu %}
<form action="login" method="post">
{% csrf_token %}
    <div class="main_form">
      <div class="inputForm">
        ユーザーID　　：
        {{ form.userID|add_class:"input" }}
        <div style="font-size: 14px; text-align: right;">4文字以上、15文字以下で入力してください</div>
      </div>
      <div class="inputForm">
        パスワード　　：
        {{ form.pw|add_class:"input" }}
        <div style="font-size: 14px; text-align: right;">6文字以上、50文字以下で入力してください</div>
      </div>
    </div>

    <div style="display: flex; flex-flow:row nowrap; height: 200px; margin-top: 30px; justify-content: center;">
      <div class="buttonForm ">
        <a href="account"><input type="button" class="buttonStyle" value="登録はこちら"></input></a>
      </div>

      <div class="errorForm" style="text-align:center;">
        {{errmsg}}
      </div>

      <div style="width: 450px;">

      </div>

      <div class="buttonForm">
        <input type="submit" class="buttonStyle" value="ログイン">
        <!-- <input class="buttonStyle" style="position: absolute; left: 0px;" type="submit" value="登録"> -->
      </div>
    </div>
</form>
{% endblock %}