{% extends "polls/menu.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/login.css' %}">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/template.css' %}">-->
{% endblock %}

{% block menu %}
<form action="login" method="post">
{% csrf_token %}
    <div class="main_form">
      <div class="inputForm">
        ユーザーID　　：
        <input class="input" type="text" name="id">
      </div>
      <div class="inputForm">
        パスワード　　：
        <input class="input" type="password" name="pw">
      </div>
    </div>

    <div style="display: flex; flex-flow:row nowrap; height: 200px; margin-top: 30px;">
      <div class="buttonForm">
        <a href="account"><button class="buttonStyle" style="position: absolute; right: 0px;">登録はこちら</button></a>
      </div>

      <div class="errorForm" style="text-align:center;">
        {{errmsg}}
      </div>

      <div class="buttonForm">
{#        <input type="submit" class="buttonStyle" style="position: absolute; left: 0px;" value="ログイン">#}
        <form action="home" method="post">{% csrf_token %}<input type="submit" class="buttonStyle" style="position: absolute; left: 0px;" value="ログイン">
      </div>
    </div>
</form>
{% endblock %}