{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/template.css' %}">

</head>
<body>
    {% if flg == "1" %}
        <script>
            alert( "該当するものがありません。" )
        </script>
    {% endif %}
    <div class="form">
        <form action="/polls/home" method="get">{% csrf_token %}<button class="immutable_form" name="logo" style="width:200px; min-width:200px;">Alpha</button></form>
        <form class="search_form" action="/polls/home" method="post">
            {% csrf_token %}
            <input class="immutable_form searchBox" type="search" placeholder="商品名を入力してください" name="search">
            <input name="search_btn" class="immutable_form" type="submit" value="検索"style="width:150px; min-width:150px; background-color: #050D67; border: 1px solid white;" >
        </form>
        {% if 'userid' in request.session %}
            <form action="/polls/myPage" method="get">{% csrf_token %}<button class="immutable_form" name="login" style="width:300px; min-width:300px;">マイページ</button></form>
        {% else %}
            <form action="/polls/login" method="get">{% csrf_token %}<button class="immutable_form" name="login" style="width:300px; min-width:300px;">ログイン</button></form>
        {% endif %}
        <form action="/polls/cart" method="get">{% csrf_token %}<button class="immutable_form" name="cart" style="width:150px; min-width:150px;">カート</button></form>
    </div>

    <div class="listForm">
        <div class="categoryList">
            <form action="/polls/home" method="post">{% csrf_token %}<input type="hidden" name="category_btn" value=1><input type="submit" class="category_button category_book" value="自動車、オートバイ"></form>
            <form action="/polls/home" method="post">{% csrf_token %}<input type="hidden" name="category_btn" value=10><input type="submit" class="category_button category_music" value="本、雑誌"></form>
            <form action="/polls/home" method="post">{% csrf_token %}<input type="hidden" name="category_btn" value=2><input type="submit" class="category_button category_pc" value="ファッション"></form>
            <form action="/polls/home" method="post">{% csrf_token %}<input type="hidden" name="category_btn" value=3><input type="submit" class="category_button category_clothes" value="時計、アクセサリー"></form>
            <form action="/polls/home" method="post">{% csrf_token %}<input type="hidden" name="category_btn" value=4><input type="submit" class="category_button category_furniture" value="スポーツ、レジャー"></form>
            <form action="/polls/home" method="post">{% csrf_token %}<input type="hidden" name="category_btn" value=5><input type="submit" class="category_button category_food" value="家電、AV、カメラ"></form>
            <form action="/polls/home" method="post">{% csrf_token %}<input type="hidden" name="category_btn" value=6><input type="submit" class="category_button category_pets" value="コンピューター"></form>
            <form action="/polls/home" method="post">{% csrf_token %}<input type="hidden" name="category_btn" value=7><input type="submit" class="category_button category_outdoor" value="おもちゃ、ゲーム"></form>
            <form action="/polls/home" method="post">{% csrf_token %}<input type="hidden" name="category_btn" value="8"><input type="submit" class="category_button category_game" value="ホビー、カルチャー"></form>
            {% if "userid" in request.session %}<form action="/polls/charge" method="get" name="mym">{% csrf_token %}<input type="hidden" name="category_btn"><input type="submit" class="category_button category_game" value="残高:{{request.session.money}}円" id="mymoney"></form>{% endif %}
            {% if "userid" in request.session %}<form action="/polls/logout" method="get">{% csrf_token %}<input type="hidden" name="category_btn"><input type="submit" class="category_button category_game" value="ログアウト"></form>{% endif %}
            </div>
    </div>

    {% block menu %}
    {% endblock %}
</body>

</html>