{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/template.css' %}">
    {% block style %}
    {% endblock %}
</head>
<body>rm" name="login" style="width:300px; min-width:300px;">マイページ</button></form>
        {% else %}
            <form action="login" method="get">{% csrf_token %}<button class="immutable_form" name="login" style="width:300px; min-width:300px;">ログイン</button></form>
        {% endif %}
        <form action="cart" method="get">{% csrf_token %}<button class="immutable_form" name="cart" style="width:150px; min-width:150px;">カート</button></form>
    </div>

    {% block menu %}
    {% endblock %}
</body>

</html>