{% extends "polls/menu.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'polls/css/mypage.css' %}">{% endblock %}

{% block menu %}
    <form class="chargeMoney_form" action="file:///D:/Users/5181025/FrontEND/htmlひな形/3p.html">
        <input type="submit" class="chargeMoney_options" value="個人情報変更" name="button_11">
        <input type="submit" class="chargeMoney_options" value="注文履歴" name="button_12">
    </form>
    <form class="chargeMoney_form"action="file:///D:/Users/5181025/FrontEND/htmlひな形/3p.html">
      <input type="submit" class="chargeMoney_options" value="チャージ" name="button_9">
      <input type="submit" class="chargeMoney_options" value="チャージ履歴" name="button_13">
    </form>
{% endblock %}