{% extends "polls/menu.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/css/orderHistory.css' %}">
{% endblock %}

{% block menu %}
    <div class="mainForm">
      <div class="itemForm">
        <div class="element">
          <div class="image_margin" style="background-color: white;">{{image}}</div>
        </div>
        <div class="element">
          <div class="verticalForm">
            <div class="priceQuantity" style="background-color: white;">{{date}}</div>
            <div class="priceQuantity" style="background-color: white;">{{productName}}</div>
          </div>
        </div>
        <div class="element">
          <div class="verticalForm">
            <button class="priceQuantity">レビュー</button>
            <button class="priceQuantity">再注文</button>
          </div>
        </div>
      </div>

      <div class="itemForm">
        <div class="element">
          <div class="image_margin" style="background-color: white;">{{image}}</div>
        </div>
        <div class="element">
          <div class="verticalForm">
            <div class="priceQuantity" style="background-color: white;">{{date}}</div>
            <div class="priceQuantity" style="background-color: white;">{{productName}}</div>
          </div>
        </div>
        <div class="element">
          <div class="verticalForm">
            <button class="priceQuantity">レビュー</button>
            <button class="priceQuantity">再注文</button>
          </div>
        </div>
      </div>

      <div class="itemForm">
        <div class="element">
          <div class="image_margin" style="background-color: white;">{{image}}</div>
        </div>
        <div class="element">
          <div class="verticalForm">
            <div class="priceQuantity" style="background-color: white;">{{date}}</div>
            <div class="priceQuantity" style="background-color: white;">{{productName}}</div>
          </div>
        </div>
        <div class="element">
          <div class="verticalForm">
            <button class="priceQuantity">レビュー</button>
            <button class="priceQuantity">再注文</button>
          </div>
        </div>
      </div>

      <div class="itemForm">
        <div class="element">
          <div class="image_margin" style="background-color: white;">{{image}}</div>
        </div>
        <div class="element">
          <div class="verticalForm">
            <div class="priceQuantity" style="background-color: white;">{{date}}</div>
            <div class="priceQuantity" style="background-color: white;">{{productName}}</div>
          </div>
        </div>
        <div class="element">
          <div class="verticalForm">
            <button class="priceQuantity">レビュー</button>
            <button class="priceQuantity">再注文</button>
          </div>
        </div>
      </div>

      <div class="itemForm">
        <div class="element">
          <div class="image_margin" style="background-color: white;">{{image}}</div>
        </div>
        <div class="element">
          <div class="verticalForm">
            <div class="priceQuantity" style="background-color: white;">{{date}}</div>
            <div class="priceQuantity" style="background-color: white;">{{productName}}</div>
          </div>
        </div>
        <div class="element">
          <div class="verticalForm">
            <button class="priceQuantity">レビュー</button>
            <button class="priceQuantity">再注文</button>
          </div>
        </div>
      </div>
    </div>

    <div class="money_form">
      <form class="buy_form_move" action="file:///D:/Users/5181025/FrontEND/htmlひな形/9p.html" method="post">
        <input class="move_form" type="search" placeholder="商品名を入力してください" name="productName"></input>
        <input class="move_form" type="submit" value="購入に進む"style="width:150px; min-width:150px;"></input>
      </form>
    </div>
{% endblock %}