{% extends "polls/menu.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/css/orderHistory.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}


{% block menu %}
  <div class="mainForm">
    {% for p in productlist %}
      <div class="itemForm">
        <div class="element">
          <div class="image_margin" style="background-color: white;">
            <img src="{% static 'polls/images/download1.jpg' %}" class="image">
          </div>
        </div>
        <div class="ele2">
          <div class="verticalForm">
            <div class="priceQuantity" style="background-color: white; line-height: 95px;">{{ p.0 }}</div> <!--ling-height:テキストの高さを指定-->
            <div class="priceQuantity textopt" style="background-color: white;">{{ p.1 }}</div>
          </div>
        </div>
        <div class="element">
          <div class="verticalForm">
            <button class="priceQuantity btnColor" id="{{ p.2 }}" onclick="location.href='/polls/review/{{ p.2 }}'">レビュー</button>
            <button class="priceQuantity btnColor" id="re-order" onclick="reOrder('{{ p.2 }}')">再注文</button>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
    <script>
        function reOrder(productId) {
            console.log(productId)
            $.ajax({
            "url": "/polls/reorder",
            "type": "GET",
            "data": {'product_id': productId},
            "dataType": "json", // ビューが返すデータの種類を指定
            "success": function(json){
                    console.log(json)
                    }
                }
            );
        }
    </script>
{% endblock %}