{% extends "polls/menu.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/css/pay.css' %}">
{% endblock %}

{% block menu %}



<form action="pay" method="post">
{% csrf_token %}
    <div class="mainForm">
        {% for p in product %}
          <div class="itemForm">
          <input name="buylist" type="hidden" value="{{ p.productid }}">
              <div class="element" style="background-color: aquamarine;">{{image}}</div>
              <div class="element" style="background-color: aqua;">{{p.name}}</div>
              <div class="element" style="background-color: aquamarine;">{{p.price}}円</div>
          </div>
        {% endfor %}

{#      <div class="itemForm">#}
{#        <div class="element" style="background-color: aquamarine;">{{image}}</div>#}
{#        <div class="element" style="background-color: aqua;">{{productName}}</div>#}
{#        <div class="element" style="background-color: aquamarine;">{{price}}</div>#}
{#      </div>#}
{##}
{#      <div class="itemForm">#}
{#        <div class="element" style="background-color: aquamarine;">{{image}}</div>#}
{#        <div class="element" style="background-color: aqua;">{{productName}}</div>#}
{#        <div class="element" style="background-color: aquamarine;">{{price}}</div>#}
{#      </div>#}
{##}
{#      <div class="itemForm">#}
{#        <div class="element" style="background-color: aquamarine;">{{image}}</div>#}
{#        <div class="element" style="background-color: aqua;">{{productName}}</div>#}
{#        <div class="element" style="background-color: aquamarine;">{{price}}</div>#}
{#      </div>#}
    </div>

    <div class="money_form">
      <div class="buy_form_move">
        <label class="move_form" name="productName">{{total_money}}円</label>
          <input name="total_money" type="hidden" value="{{total_money}}">
        <input class="move_form" type="submit" value="決済"style="width:150px; min-width:150px;"></input>
      </div>
    </div>
    </form>
{% endblock %}