{% extends "polls/menu.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/css/pay.css' %}">
  <head>
    <title>決済</title>
  </head>
{% endblock %}

{% block menu %}



<form action="pay" method="post">
{% csrf_token %}
    <div class="mainForm">
        {% for p in product %}
        <div class="itemForm">
          <input name="buylist" type="hidden" value="{{ p.productid }}">
        <div class="element">
          <img src="{% static 'polls/images/download1.jpg' %}" class="image">
        </div>
        <div class="plusminus">
          <div class=" textopt"style="height:100%; width:100%; min-width:400px; text-align: center; vertical-align:middle;">{{ p.name }}</div>
        </div>
        <div class="element">
          <div class="verticalForm">

              <input name="money" type="hidden" value="{{ p.price }}">
            <div class="plusminus">{{ p.price }}円</div>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>

    <div class="money_form">
      <div class="buy_form_move">
        <label class="move_form" name="productName">{{total_money}}円</label>
          <input name="total_money" type="hidden" value="{{total_money}}">
        <input class="move_form" type="submit" value="決済"style="width:150px; min-width:150px;"></input>
      </div>
    </div>
    </form>
{% endblock %}