{% extends "polls/menu.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/css/personal.css' %}">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

{% endblock %}

{% block menu %}
    <div style="text-align: center"> {{ msg }}</div>
   <form class="personal_information_form" action="" accept-charset="UTF-8" method="post" name="Former">
       {% csrf_token %}
      <div class="Input_form" name="seimei">
        <div class="name_form">
          <label>姓</label>
          <input name="first-name" type="text" class="name_form_options waku"　id="sei" style="text-align: left;" value="{{ first_name }}">
        </div>

        <div class="name_form">
          <label>名</label>
          <input name="last-name" type="text" class="name_form_options waku"　id="mei" style="text-align: left;" value="{{ last_name }}">
        </div>

      </div>

      <div class="wakusen"></div>

      <div class="Input_form">
        <div class="name_form">
          <label>〒</label>
          <input name="number" type="text" class="postal_form_options waku" placeholder="※個人情報不可" id="yubin" style="text-align: left;">
        </div>

        <div class="name_form"></div>
      </div>

      <div class="wakusen"></div>

      <div class="Input_form">
        <div class="address_form">
          <label style="writing-mode: vertical-rl; text-align: center; height: 22.5px;">住所</label>
          <input name="address" type="text" class="address_form_options waku" placeholder="※個人情報不可" id="jusyo" style="text-align: left;" value="{{ address }}">
        </div>
      </div>

      <div class="wakusen"></div>

      <div class="Input_form">
        <input class="button_form_options" type="submit" value="変更"></input>
      </div>

      <div class="wakusen"></div>

    </form>
    {% if toast_flg == "1" %}
        <script>
            toastr.options = {
                "positionClass": "toast-bottom-center",
                "timeOut": "1000",
            };

            toastr.success('これはinfo型のトーストです');
        </script>
    {% endif %}

{% endblock %}