{% extends "polls/menu.html" %}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'polls/css/productDetails.css' %}">{% endblock %}
{% block menu %}
    <p class="productName">"{{product.productName}}"</p>
    <div class="form">
      <div class="main_form">

        <p class="price">{{product.price}}円</p>
        <p class="reviewStars">{{review.reviewStars}}</p>
          <form action="productDetails" method="post">
              {% csrf_token %}
              <input type="hidden" value="{{ product.productID }}" name="productid">
              {% if "userid" in request.session and not product.productID in productIdList %}
                <input type="submit" class="addCart" value="カートに入れる">
              {% else %}
                <input type="submit" class="addCart" value="カートに入れる" disabled>
              {% endif %}
          </form>


        <div class="image_form" style="margin-top: 80px; margin-left: 350px;">
            <img src="{% static 'polls/images/download1.jpg' %}" class="image">
        </div>
      </div>
    </div>
    <a style="font-size: 25px; top: 650px; position: absolute; left: 200px; min-width: 500px;"><button style="font-size: 25px; color: white; left: 500px;">レビュー作成</button>　レビュー　総評:{{ total_review }}</a>
    <div class="comment"  style="display: flex; flex-flow:column nowrap; overflow-y: scroll;">
      {% for r in review %}
      <div>
        <div style="background-color: whitesmoke;">
            <p>ユーザー: {{ r.userID.name }}</p>
            <p>タイトル: {{ r.title }}</p>
            <p>内　容　: {{ r.comment }}</p>
        </div>
        <p style="height: 10px;"></p>
      </div>
      {% endfor %}
    </div>

{% endblock %}