{% extends "polls/menu.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/productList.css' %}">
{% endblock %}

{% block menu %}


        <div class="listbox">
          {% for p in product %}
            <div class="vert">
                <div class="textopt">
                    <a href="productDetails/{{ p.productID }}">{{ p.productName }}</a>
                </div>
                <img class="imgsize" src="download1.jpg" id="imgSample">
            </div>
          {% endfor %}
        </div>



{% endblock %}