{% extends "polls/menu.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/css/productDetails.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
   <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
   <script src="{% static 'polls/js/toast.js' %}"></script>
   <head>
    <title>商品詳細</title>
  </head>
{% endblock %}
{% block menu %}
    <p class="productName">"{{product.productName}}"</p>
    <div class="form">
      <div class="main_form">

        <p class="price">{{product.price}}円</p>
        <p class="reviewStars">{{review.reviewStars}}</p>
          <form action="productDetails" method="post">
              {% csrf_token %}
              <input type="hidden" value="{{ product.productID }}" name="productid">
              {% if "userid" in request.session and not product.productID in productIdList %}
                <input type="button" id="cartBtn" class="addCart" value="カートに入れる"  onclick="reOrder('{{ product.productID }}')">
              {% else %}
                <input type="button" class="addCart" value="カートに入れる" disabled>
              {% endif %}
          </form>


        <div class="image_form" style="margin-top: 80px; margin-left: 350px;">
            <img src="{% static 'polls/images/download1.jpg' %}" class="image">
        </div>
      </div>
    </div>
    <div style="font-size: 25px; top: 650px; position: absolute; left: 200px; min-width: 500px;"><a href="/polls/review/{{ product.productID }}" style="font-size: 25px;left: 500px;">レビュー作成</a>　レビュー　総評:{{ total_review }}</div>
    <div class="comment"  style="display: flex; flex-flow:column nowrap; overflow-y: scroll;">
      {% for r in review %}
      <div>
        <div style="background-color: whitesmoke;">
            <p>ユーザー: {{ r.userID.name }}</p>
            <p>タイトル: {{ r.title }}</p>
            <p>内　容　: {{ r.comment }}</p>
        </div>
        <p style="height: 10px;"></p>
      </div>
      {% endfor %}
    </div>

        <script>
        function reOrder(productId) {
            var cartBtn = document.getElementById("cartBtn");
            console.log(productId)
            $.ajax({
            "url": "/polls/reorder",
            "type": "GET",
            "data": {'product_id': productId},
            "dataType": "json", // ビューが返すデータの種類を指定
            "success": function(json){
                    console.log(json);
                    showToast("カートに入りました。");
                    cartBtn.disabled = true;
                    }
                }
            );
        }
    </script>

{% endblock %}