{% extends "polls/menu.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'polls/css/review.css' %}">
{% endblock %}

{% block menu %}
    <div>
      <div class="main_form">
        <div class="image_form">
          <img src="./a.jpg" class="image">
        </div>
        <div>
          <label class="productName">{productName}</label>
        </div>
      </div>

      <div class="review_form">
        <div class="stars">
          評価
          <button>☆</button><button>☆</button><button>☆</button><button>☆</button><button>☆</button>
        </div>
        <div class="reviewTitle">
          レビュータイトル
          <input type="text">
        </div>
        <div class="textArea">
          <textarea style="  width: 500px; height: 500px;" placeholder="レビュー内容"></textarea>
          <!-- 大体1300文字 -->
        </div>
        <div class="post">
          <input type="submit">
        </div>
      </div>
    </div>
{% endblock %}