.main_form{
  display: flex;
  /* flex-direction: column; */
  flex-flow: column nowrap;
  align-items: center;
  font-size: 40px;
  height: 600px;
  /* background-color: #ccc; */
}

.inputForm{
  /* flex-grow: 1;
  flex-shrink: 1; */
  /* display: flex; */
  font-size:auto;
  margin-top: 80px;
  margin-right: 40px;
}

.input{
  width:500px;
  height:50px;
  font-size: 30px;
  border: 0.1px solid;
}



.buttonForm{
  flex-grow: 1;  
  /* 親に対してどれくらい大きくなるか */
  flex-shrink: 1;
  /* 親に対してどれくらい小さくなるか */
  position: relative;
}

.errorForm{
  flex-grow: 2;
  flex-shrink: 2;
  align-items: center;
  /* background-color: #ccc; */
}

/* .errorLabel{
  flex-grow:1;
  flex-shrink:1;
  background-color: #ccc;
} */

.buttonStyle{
  font-size: 30px;
  width: 250px;
  height: 70px;
  margin-top:50px;
}

























.a2 {
  position: absolute; 
  top: 100px; 
  zoom: 0.5;
  width: 100%;
  height: auto;
}

.test{
  overflow:auto;
  position: absolute; 
  top: 125px; 
  left: 35%;
}

.productName{
 font-size: 45px;
 position:absolute;
 top: 700px;
 left: 35%;
}

.stars{
  position: absolute;
  top: 800px;
  left: 30%;
}

.reviewTitle{
  position: absolute;
  top: 840px;
  left: 30%;
}

.textArea{
  position: absolute;
  top: 880px;
  left: 30%;
}

.post{
  position: absolute;
  top: 1400px;
  left: 30%;
}

/* .a3 {
  position: absolute; 
  top: 565px; 
  left: 0.6%;
} */

