.mainForm{
  display: flex;
  overflow-x:auto;
  flex-flow: column nowrap;
  width: 85%;
  height: 82%;
  margin-left: 210px;
}

.itemForm{
  display: flex;
  flex-flow:row nowrap;
  width: 97%;
  height: 200px;
  margin-top: 15px;
  background-color: aqua;
}

.checkForm{
  width: 50px;
  text-align: center;
  align-self: center;
}

.checkBox{
  width: 50px;
  height: 50px;
}

.element{
  max-width:200px;
  max-height:200px;
  min-width:200px;
  min-height:200px;
}

.ele2{
display:flex;
  flex-grow: 1;
  flex-shrink: 1;
}

.verticalForm{
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.priceQuantity{
  height: 45%;
  width:100%;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  text-align: center;
  align-self: center;
}



.money_form{
  width:98%;
  display:flex;
  flex-flow:row nowrap;
}

.buy_form_move{
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: right;
  flex-flow:row nowrap;
}

.move_form{
  height:80px;
  font-size:15px;
}

.quantSize{
    font-size:30px;
    width:50px;
}

.counter{
    background: gray;
    width:30px;
    height:30px;
    padding: 5px;
    cursor: pointer;
}

.plusminus{
    display: flex;
    margin:auto;
    align-self:center;
    align-items:center;
    font-size: 30px;
}