
.itemForm{
  display: flex;
  flex-flow:row nowrap;
  width: 85%;
  height: 200px;
  margin-top: 15px;
  background-color: gray;
  margin-left:210px;
}

.element{
  max-width:200px;
  max-height:200px;
  min-width:200px;
  min-height:200px;
  }

.ele2{
  flex-grow: 1;
  flex-shrink: 1;
}

.verticalForm{
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.priceQuantity{
  height: 45%;
  margin: 5px;
  font-size: 30px;
  text-align: center;
}

.image_margin{
  margin-right: 5px; 
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  height: 95%; 
}







.money_form{
  width:98%;
  display:flex;
  flex-flow:row nowrap;
}

.buy_form_move{
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: right;
  flex-flow:row nowrap;
}

.move_form{
  height:80px;
  font-size:15px;
}