.mainForm{
  display: flex;
  overflow-y:auto;
  flex-flow: column nowrap;
  width: 85%;
  height: 865px;
  margin-left: 210px;
}


.itemForm{
  display: flex;
  flex-flow:row nowrap;
  width: 80%;
  min-width: 800px;
  height: 200px;
  margin-top: 15px;
  background-color: rgb(240, 240, 240);
  margin-left:100px;
}

.element{
  max-width:200px;
  max-height:200px;
  min-width:200px;
  min-height:200px;
  }

.ele2{
  min-width: 400px;
  flex-grow: 1;
  flex-shrink: 1;
}

.verticalForm{
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

.priceQuantity{
  height: 45%;
  margin: 5px;
  font-size: 30px;
  text-align: center;  
}

.btnColor{
  background-color: rgb(168, 174, 255);
}

.image_margin{
  margin-right: 5px; 
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  height: 95%; 
  overflow-y: auto;
}







.money_form{
  width:98%;
  display:flex;
  flex-flow:row nowrap;
}

.buy_form_move{
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: right;
  flex-flow:row nowrap;
}

.move_form{
  height:80px;
  font-size:15px;
}

.image {
  zoom: 0.5;
  width: 100%;
  height: auto;
}

.textopt{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}