

.itemForm{
  display: flex;
  flex-flow:row nowrap;
  width: 85%;
  height: 200px;
  margin-top: 15px;
  background-color: #ccc;
   margin-left:210px;
}

.element{
  max-width:200px;
  max-height:200px;
  min-width:200px;
  min-height:200px;
  }

.ele2{
  flex-grow: 1;
  flex-shrink: 1;
}





.money_form{
  width:100%;
  display:flex;
  flex-flow:row nowrap;
}

.buy_form_move{
  width: 50%;
  margin-left: auto;
  border: 0.1px solid;
  text-align: right;
  flex-flow:row nowrap;
}

.move_form{
  height:80px;
  font-size:15px;
}