.main_form{
  width:98%;
  display:flex;
  flex-flow:row nowrap;
}

.productName {
  word-wrap: break-word;
  position: absolute;
  top: 125px;
  left: 210px;
  width:1355px;
  height:100px;
  font-size:29px;
}

.price {
  position: absolute; 
  top: 280px; 
  left: 875px;
  width:300px; 
  min-width:100px; 
  height:75px; 
  font-size:25px;
  text-align:center;
}

.reviewStars {
  position: absolute; 
  top: 280px; 
  left: 1267.5px;
  width:300px; 
  min-width:100px; 
  height:75px; 
  font-size:25px; 
  text-align:center;
}

.addCart{
  position: absolute; 
  top: 550px; 
  left: 875px;
  width:691.5px; 
  min-width:100px; 
  height:75px; 
  font-size:25px; 
  text-align:center;
}

.all_reviewStars {
  position: absolute; 
  top: 750px; 
  left: 15%;
  width:500px; 
  min-width:100px; 
  height:250px; 
  font-size:25px; 
  text-align:center;
}

.addReview {
  position: absolute; 
  top: 1050px; 
  left: 15%;
  width:500px; 
  min-width:100px; 
  height:250px; 
  font-size:25px; 
  text-align:center;
}

.image_form{
  width:500px;
  height:500px;
  overflow:auto;
  position: absolute;
  top: 125px;
}

.image {
  zoom: 0.35;
  width: 80%;
  height: auto;
}

.comment{
  position: absolute; 
  top: 700px; 
  left: 200px;
  width:1400px; 
  min-width:100px; 
  height:250px; 
  font-size:16px; 
}

.comment::-webkit-scrollbar {
  display: none;
}