.main_form{
  width:98%;
  display:flex;
  flex-flow:row nowrap;

}

.productName{
 font-size: 36px;
 position:absolute;
 top: 700px;
 left: 210px;
}



.review_form{
  width:98%;
  display:flex;
  flex-flow:row nowrap;
  margin-left: 210px;
}

.stars{
  position: absolute;
  top: 805px;
}

.reviewTitle{
  position: absolute;
  border: 1px solid black; 
  width: 220px;
  top: 840px;
}

.textArea{
  position: absolute;
  width:500px;
  height:300px;
  top: 880px;
}

.post{
  position: absolute;
  top: 1200px;
  height:25px;
  width:500px;
  margin-bottom: 15px;
}

.textopt{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.image {
  zoom: 0.5;
  width: 100%;
  height: auto;
}

.image_form{
  width:500px;
  height:500px;
  overflow:auto;
  position: absolute;
  top: 125px;
  margin-left: 400px;
}