.main_form{
  width:98%;
  display:flex;
  flex-flow:row nowrap;

}

.image_form{
  width:500px; 
  height:550px;
  overflow:auto;
  position: absolute; 
  top: 125px; 
  left: 30%;
}

.image {
  zoom: 0.5;
  width: 100%;
  height: auto;
}

.productName{
 font-size: 45px;
 position:absolute;
 top: 700px;
 left: 210px;
}



.review_form{
  width:98%;
  display:flex;
  flex-flow:row nowrap;
}

.stars{
  position: absolute;
  top: 800px;
  left: 30%;
}

.reviewTitle{
  position: absolute;
  top: 840px;
  left: 30%;
}

.textArea{
  position: absolute;
  width:500px;
  height:500px;
  top: 880px;
  left: 30%;
}

.post{
  position: absolute;
  top: 1400px;
  height:100x;
  width:500px;
  left: 30%;
}